<nav class="navbar fixed-top topo-nav navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">@Gaiadesapego</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Area ADM
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Cadastro de produtos</a>
            </div>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li>
            <div>
              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar no site" aria-label="Buscar no site">
                  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                      <i class="fa fa-search"></i>  
                  </button>
              </form>
            </div>
          </li>
          <li class="nav-item">
            <div>
              <a class="nav-link" href="">
                <i class="fa fa-heart">
                  <span class="mt-2"></span>
                </i>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <div>
              <a class="nav-link" href="#">
                <i class="fa fa-shopping-cart">
                  <span class="mt-2"></span>
                </i>
              </a>
            </div>
          </li>
        </ul>
    </div>
  </nav>