<div class="container-fluid div-ajust-top">
  <div class="row">
    <div class="col-xl-12">
        <h1>Categoria</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
        <div class="product-grid3">
            <div class="product-image3">
                <a href="#">
                    <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-1.jpg">
                    <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg">
                </a>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <span class="product-new-label">Novo</span>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">Blazer</a></h3>
                <div class="price">
                    R$63.50
                    <span>R$75.00</span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
