.div-ajust-top {
    margin-top: 70px;
}

.div-center {
    text-align: center;
}

.img-shadow {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.div-categorias {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div-categorias-img {
    margin-top: 5px;
}